<% title 'Edit Subcategory' %>
<% noindex %>
<div class="container">
<div class="col-md-6 col-md-offset-3 panel panel-default">
<div class="panel-body">

<h1>Editing subcategory</h1>

<%= render 'form' %>

<%= link_to 'Show', @subcategory %> |
<%= link_to 'Back', subcategories_path %>

</div>
</div>
</div>