<div class="container">

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @order.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @order.address_two %>
</p>

</div>