<% title 'New Cashout Request' %>
<% noindex %>
<div class="container">
<div class="col-md-6 col-md-offset-3 panel panel-default">
<div class="panel-body">
<div class="section-divider center">
<h1>Cashout Request</h1>
<p>A minimum of RM 20.00 is required to cashouts.</p>
</div>

<%= render 'form' %>

<%= link_to 'Back', my_cashouts_path %>

</div>
</div>
</div>