.alert {
  padding: 10px 15px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid #cecece;
  border-radius: 0px;
  text-align: center;
}

.alert-dismissable .close {
  right: 0px;
}

#lazybox {
    width: 300px;
  }