// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gig-image-box {
	width: 100%;
	max-height: 400px;
	border: 1px solid #DDDDDD;
}

.image-preview {
  width: 238px;
  height: 140px;
}

.thumbnail {
  margin: 10px 0 5px;
}

.links {
  padding: 15px 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.radio {
  margin-top: 0;
}

.panel {
	border-radius: 10px;
}