<%= simple_form_for(@image, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %> 

  <div class="form-group">
    <%= f.input :graphic, label: 'Graphic', input_html: {class: "form-control input-sm"} %>
  </div>

  <div class="form-group">
    <%= f.button :button, class: "btn btn-smaller btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin right-5'></i> Please wait..."} %>
  </div>
<% end %>
