<div class="footer">
  <div class="container">
     <div class="pull-left muted footer-link-grey">
      <p>© 2014 TWENTY FIVE ·
      <%= link_to "Legal", root_path %> ·
      <%= link_to "Privacy Policy", privacy_policy_path %>
      </p>
    </div>

    <div class="pull-right">
      <a href="http://facebook.com" target="_blank">Facebook</a> ·
      <a href="http://twitter.com" target="_blank">Twitter</a> ·
      <a href="http://instagram.com" target="_blank">Google+</a>
    </div>
  </div>  
</div>