<div class="container-fluid no-left-right-pad">
<div class="col-md-12 no-left-right-pad">
  <div class="jumbotron">
  <div class="container">
    <center>
  	  <h1>What do you need done?</h1>
  	  <h2>Get anything done for RM 25</h2>
      <%= render 'layouts/jumbosearch' %>
    </center>
  </div>
  </div>
</div>
</div>